/* ***헤드 메뉴 첫번째 li - about */
#menu ul li:nth-child(3) a {
  color:#262626;
}




/* ***텍스트 섹션 */
#text * {
  letter-spacing: .25em;
  text-align: center;
}
/* 주제 */
#text h2 {
  font-size: 3.25rem;
  font-weight: 400;
}
/* 부제 */
#text p {
  margin-bottom: 4rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}
/* 라인 */
#line {
  width: 4.75rem;
  border-bottom: 1px solid #2a1414;
  margin-bottom: 4rem;
}
/* 연락처 상하간격 */
#contact span ~ span {
  margin-top: .5rem;
}
