/* ***헤더 */
header {
  height:4.25rem;
  left:0;
  top:0;
  right:0;
  z-index: 100;
  backdrop-filter: blur(50px);
  border-top: 2px solid #262626;
  padding: 0 10%;
}
/* 로고 */
#logo {
  letter-spacing: .5em;
  font-weight: 500;
}
/* 메뉴 */
#menu {
  width:max-content;
}
/* 메뉴 li */
#menu ul li {
  width:9.5rem;
  box-sizing: border-box;
  cursor: pointer;
}
/* 메뉴 폰트 */
#menu ul li a {
  font-weight: 400;
  letter-spacing: .12em;
  color:#26262671;
  transition: .3s;
}
/* 메뉴 li:hover */
#menu ul li:hover a {
  color:#262626;
}
/* 모바일 메뉴 아이콘 */
#mobile-menu-btn {
  opacity: 0;
  pointer-events: none;
  width: 2rem;
}
/* 모바일 메뉴 아이콘 이미지 */
#mobile-menu-btn img {
  width:100%;
}
/* 모바일 메뉴 */
#mobile-menu {
  display: none;
  right:0;
  top:0;
  bottom: 0;
  width:50%;
  padding-right: 6%;
  z-index: 101;
  background-color: rgb(250, 250, 250, .92);
  transition: .5s;
}
/* 모바일 메뉴 상하간격 */
#mobile-menu li {
  margin-top:10%;
}
/* 모바일 메뉴 첫번째li  */
#mobile-menu li:nth-child(1) {
  width:3rem;
}
/* 모바일 메뉴 닫기버튼 이미지  */
#mobile-menu li:nth-child(1) img {
  width:100%;
}
/* 모바일 메뉴 두번째li  */
#mobile-menu li:nth-child(2) {
  margin-top:15%;
}
/* 모바일 메뉴 폰트 */
#mobile-menu a {
  font-size: 1.75rem;
}


/* ***미디어쿼리 */
@media screen and (max-width:768px) {
  /* ***헤더 */
  header {
    padding: 0 6%;
  }
  /* 메뉴 */
  #menu {
    display: none;
  }
  /* 모바일 메뉴 */
  #mobile-menu {
    display: block;
  }
  /* 모바일 메뉴 아이콘 */
  #mobile-menu-btn {
    opacity: 1;
    pointer-events:all;
  }
}

@media screen and (max-width:480px) {
  /* 모바일 메뉴 첫번째li  */
  #mobile-menu li:nth-child(1) {
    width:2rem;
  }
  /* 모바일 메뉴 폰트 */
  #mobile-menu a {
    font-size: 1.25rem;
  }
}