/* ***헤더 */
header {
  height:4.25rem;
  left:0;
  top:0;
  right:0;
  z-index: 100;
  backdrop-filter: blur(50px);
}
/* 메뉴 */
#menu {
  width:max-content;
}
/* 메뉴 li */
#menu ul li {
  width:9.5rem;
  box-sizing: border-box;
  cursor: pointer;
}
/* 메뉴 폰트 */
#menu ul li a {
  font-weight: 400;
  letter-spacing: .12em;
  color:#26262671;
  transition: .3s;
}
/* 메뉴 li:hover */
#menu ul li:hover a {
  color:#262626;
}