/* 메뉴 첫번째 li - about */
#menu ul li:nth-child(1) a {
  color:#262626;
}


/* ***인트로(intro) */
#intro * {
  letter-spacing: .5em;
}
#intro strong {
  font-size: 4rem;
  font-weight: 400;
}
#intro span {
  font-size: 1.75rem;
  margin-top:1rem;
  font-weight: 200;
}


/* ***철학(philosophy) */
/* 철학 박스 크기 */
#phil-text {
  width:52.0833%;
  height:72.2814%;
  background-color: #f0f0f0;
}
/* 철학 내 모든 폰트, 텍스트 */
#phil-text > * {
  letter-spacing: .25em;
  text-align: center;
}
/* 슬로건 영역 */
#slogan {
  width:100%;
}
/* 슬로건 부제 */
#slogan > span {
  font-family: 'Noto Serif KR', serif;
  font-weight: 300;
  color:#262626bd;
  margin-bottom: 1rem;
}
/* 슬로건 주제 */
#slogan strong {
  margin-bottom: 3rem;
}
/* 라인 */
#line {
  width:4.75rem;
  border-bottom:1px solid #2a1414;
  margin-bottom: 3rem;
}
/* 부연설명 */
#explain {
  line-height: 2;
  letter-spacing: 0;
  margin-bottom: 3rem;
}
/* 버튼 */
#button {
  margin-bottom: 0;
}
#button a {
  padding:.25rem 1.25rem;
  border-radius: .9375rem;
  background-color:#2626261f;
  font-weight: 400;
  font-size: .875rem;
  transition: .3s;
  letter-spacing: .25em;
}
#button a:hover {
  background-color:#26262656;
}
/* 버튼 마진 */
#button a:nth-child(2) {
  margin-left:1rem;
}
/* 이미지 */
#about-img {
  right:7.395%;
  top:12.6865%;
  z-index: -1;
}