@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* display */
.flex {display:flex;}
.block {display:block;}
.inline-block {display:inline-block;}
.inline {display: inline;}
.none {display: none;}

/* position */
.relative {position: relative;}
.absolute {position: absolute;}

/* text */
.text-indent-9999 {text-indent: -9999em;}
.text-align-center {text-align: center;}
.text-align-jutify {text-align: justify;}
.ellipsis {text-overflow: ellipsis;}
.white-space-nowrap {white-space: nowrap;}

/* overfloww */
.hidden {overflow: hidden;}

/* flex */
.space-between {justify-content: space-between;}
.justify-content-center {justify-content: center;}
.justify-content-end {justify-content: end;}
.justify-self-center {justify-self: center;}
.flex-direction-column {flex-direction: column;}
.align-items-end {align-items: flex-end;}
.align-items-center {align-items: center;}
.align-self-start {align-self: flex-start;}
.flex-nowrap {flex-wrap: nowrap;}
.flex-wrap {flex-wrap: wrap;}

/* box-sizing */
.border-box {box-sizing: border-box;}


* {
  padding:0;
  margin:0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color:#262626;
  background-color: #f6fbff ;
}

#container {
  width:100%;
  height:100%;
  /* background-color: #fafafa; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:#262626;
}
